@import "../../styles/extensions";

%auth-root-styles {
  display: block !important;
  overflow-y: auto;
  margin-top: 1px;

  .card {
    max-width: 400px;
    min-width: 98%;
    margin: 10px auto 35px !important;

    @media screen and (min-width: 420px) {
      min-width: 400px;
    }
  }

  .form-title {
    @extend %form-title;
  }

  @extend %msg-error-close;

  @extend %form;
}

.routes-sign-up-route {
  @extend %auth-root-styles;
  @extend %app-main;

  .error-label {
    font-weight: bold;
  }

  .error-text {
    margin-left: 15px;
  }

  .to-login-button {
    @extend %auth-redirect-btn;
  }
}
