@import "../../styles/extensions";

.components-experience-definition {
  @extend %route-main;

  .main {
    @extend %app-main;
    padding: 15px 25px 0 25px;
  }

  .form {
    padding-bottom: 30px;

    &__label-description {
      display: flex;
      align-items: center;

      &-toggle {
        padding: 10px 35px 10px 10px;
      }
    }
  }

  .data-definitions {
    margin-top: 20px;
  }

  .data-definition {
    border: 1px solid var(--app-color);
    padding: 10px;
    border-radius: 4px;
  }

  .data-definition + .data-definition {
    margin-top: 30px;
  }

  .data-definitions {
    border: 1px solid var(--app-color);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;

    &.errors {
      border-color: var(--error-text-color);
    }
  }

  .data-definition-controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .data-definition-control {
    border: 1px solid #afafaf;
    border-radius: 4px;
    width: 48px;

    & + .data-definition-control {
      margin-left: 10px;
    }
  }

  .submit-btn {
    @extend %button;

    & + .submit-btn {
      margin-left: 10px;
    }
  }
}
