@import "../../styles/variables";
@import "../../styles/extensions";

.components-experience-definition {
  @extend %route-main;

  .main {
    @extend %app-main;
    padding: 15px 25px 0 25px;
  }

  .form {
    padding-bottom: 30px;
  }

  .field__control {
    border: 1px solid #d1d5da;
    display: block;
    border-radius: 3px;
    outline: none;
    padding: 8px 8px 0px 8px;
    display: block;
    width: 100%;

    &.field__control--hidden {
      display: none;
    }

    &.field__control--select {
      background-color: white;
    }

    &:active,
    &:focus {
      box-shadow: inset -1px -1px 0px 0px #b9b9ef;
      border-color: #b9b9ef;
    }
  }

  .field + .field,
  .data-definitions {
    margin-top: 20px;
  }

  .field {
    display: block;

    &.field--errors {
      color: var(--error-text-color);

      .field__control {
        border-color: var(--error-border-color);
      }
    }
  }

  .data-definition {
    border: 1px solid $app-color;
    padding: 10px;
    border-radius: 4px;
  }

  .data-definition + .data-definition {
    margin-top: 30px;
  }

  .data-definitions {
    border: 1px solid $app-color;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;

    &.errors {
      border-color: $error-color;
    }
  }

  .data-definition-controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .data-definition-control {
    border: 1px solid #afafaf;
    border-radius: 4px;
    width: 48px;

    & + .data-definition-control {
      margin-left: 10px;
    }
  }

  .submit-btn {
    border: 1px solid var(--btn-border-neutral-color);
    border-radius: 4px;
    padding: 5px;

    & + .submit-btn {
      margin-left: 10px;
    }
  }

  .field__label {
    font-weight: 700;

    &.field__label-description {
      display: flex;
      align-items: center;
    }
  }

  .field__label-description-toggle {
    padding: 10px 35px 10px 10px;
  }
}
