@import "./variables";

%route-main {
  flex: 1;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

%simple-error {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $error-color;
  font-weight: 900;
  font-size: 1.2em;
}

%auth-redirect-btn {
  margin-top: 20px;
  color: #fff !important;
  background-color: $app-color;
  font-weight: bolder;
}

%form {
  .form {
    .field {
      margin-bottom: 15px !important;
    }

    .field.disabled {
      & > label {
        opacity: 1;
      }

      input {
        background-color: #f5f5f5;
        pointer-events: none;
      }
    }

    .ui {
      &.message.error {
        display: block;
        padding: 0.5em;
        margin-bottom: 1em;
        margin-top: -10px;
        background-color: #fff6f6;
        box-shadow: none;
        font-size: 1em;

        .header {
          font-size: 1em;
          font-weight: 500;
        }
      }
    }
  }
}

%msg-error-close {
  .ui.message > .close.icon {
    color: #960101 !important;
  }
}

%form-title {
  color: #3e89a7 !important;
  font-weight: 900 !important;
  font-size: 1.2em !important;
}

%list-resources-modal {
  margin-top: -20px !important;
  overflow: hidden !important;
  max-width: 500px;

  .content {
    word-wrap: break-word;
  }

  .modal-close {
    flex-shrink: 0;
    font-weight: 900;
    font-size: 2rem;
    text-align: right;
    cursor: pointer;
    color: darken($app-color, 20);
  }

  .list {
    background: white;
    padding: 8px !important ;
    flex: 1;
    overflow: auto;
    margin-top: 0;
    border: 1px solid #dad8d8;
  }

  .list-item {
    cursor: pointer;
  }

  .no-resources-message {
    text-align: center;
    font-weight: 900;
    max-width: 96%;
    color: #fff;
    background: darken($app-color, 10);
  }

  .error-container {
    @extend %simple-error;
  }
}
