@import "../../styles/variables";
@import "../../styles/extensions";

$translateLen: 50px;
$transitionTime: 500ms;

.components-upload-unsaved {
  @extend %route-main;

  .components-upload-unsaved-header {
    margin-top: -10px;
    color: $app-color;
    font-weight: bolder;
    position: relative;
    padding-bottom: 5px;
    padding-left: 10px;
  }

  .upload-button {
    padding-right: 10px;
    position: absolute;
    right: 0;
    bottom: -4px;
    color: darken($color: $app-color, $amount: 5%);
    font-weight: bolder;
    font-size: 1.1rem;
    background: none;

    &:active,
    &:hover {
      background: none;
      color: darken($color: $app-color, $amount: 5%);
    }
  }

  .main {
    @extend %app-main;
  }

  .all-unsaveds {
    position: relative;
  }

  .tab-menu {
    background-color: $app-color !important;
    color: #fff !important;
    font-weight: 900 !important;

    &.active {
      background-color: darken($color: $app-color, $amount: 10%) !important;
    }
  }

  .tab {
    padding: 0 10px;
    position: absolute;
    left: 0;
    right: 0;
  }

  .pane-animation-left-enter,
  .pane-animation-right-enter {
    opacity: 0.01;
  }

  .pane-animation-left-enter {
    transform: translate(-$translateLen, 0);
  }

  .pane-animation-right-enter {
    transform: translate($translateLen, 0);
  }

  .pane-animation-left-enter-active,
  .pane-animation-right-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all $transitionTime ease-in;
  }

  .pane-animation-left-exit,
  .pane-animation-right-exit {
    opacity: 1;
    transform: translate(0, 0);
  }

  .pane-animation-left-exit-active,
  .pane-animation-right-exit-active {
    opacity: 0.01;
    transition: all $transitionTime ease-in;
  }

  .pane-animation-left-exit-active {
    transform: translate($translateLen, 0);
  }

  .pane-animation-right-exit-active {
    transform: translate(-$translateLen, 0);
  }

  .upload-result-icon {
    margin-left: 5px !important;
  }

  .upload-error-icon {
    color: $error-color;
  }

  .upload-success-icon {
    color: green;
  }

  .experience-title--uploads {
    position: relative;
  }

  .experience-title--error {
    border: 2px solid $error-color !important;
    background-color: $error-bg-color !important;
    color: $error-color;

    &.content {
      border-top: 2px solid $error-color !important;
    }
  }

  .experience-title--success {
    border: 2px solid $success-color !important;
    background-color: $success-bg-color !important;
    color: $success-color;

    &.content {
      border-top: 2px solid $success-color !important;
    }
  }

  .experience-title__success-icon,
  .experience-title__error-icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .experience-error {
    padding: 10px 5px;
    font-weight: 600;
  }
}
