{
  "dev": {
    "PORT": "4021",
    "API_URL": "http://localhost:4022"
  },
  "test": {
    "API_URL": "http://localhost:4022",
    "IS_UNIT_TEST": "true"
  },
  "prod": {
    "API_URL": "http://localhost:4022"
  },
  "e2e": {
    "API_URL": "http://localhost:4023",
    "CYPRESS_API_URL": "http://localhost:4022",
    "IS_E2E": "true",
  },
  "e2e-run": {
    "API_URL": "http://localhost:4023",
    "CYPRESS_API_URL": "http://localhost:4022",
    "IS_E2E": "true",
    "NO_LOG": "true"
  },
  "staging": {
    "API_URL": "http://localhost:4022",
    "NO_LOG": "true"
  }
}
