{
  "dev": {
    "PORT": "4021",
    "BROWSER": "none",
    "REACT_APP_API_URL": "http://localhost:4022"
  },
  "test": {
    "REACT_APP_API_URL": "http://localhost:4022"
  },
  "prod": {
    "REACT_APP_API_URL": "https://ebnis.herokuapp.com"
  },
  "local-staging": {
    "REACT_APP_API_URL": "http://localhost:4023"
  }
}
