{
  "dev": {
    "PORT": "4021",
    "BROWSER": "none",
    "API_URL": "http://localhost:4022"
  },
  "test": {
    "API_URL": "http://localhost:4022",
    "IS_UNIT_TEST": "true"
  },
  "prod": {
    "API_URL": "http://localhost:4022"
  },
  "local-staging": {
    "API_URL": "http://localhost:4023",
    "CYPRESS_API_URL": "http://localhost:4022"
  }
}
