@import "../../styles/variables";

.component-experience-entry + .component-experience-entry {
  margin-top: 20px;
}

.component-experience-entry {
  border: 2px solid $app-color;
  // margin-bottom: 20px;
  // padding: 5px;
  // border-radius: 5px;

  .meta {
    &::before {
      content: "";
      display: block;
      width: 100%;
      border: 1px solid $app-color;
    }
  }

  .entry__timestamps {
    padding: 5px;
  }

  .field {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      border: 0.5px solid $app-color;
      position: absolute;
    }
  }

  .field__content {
    padding: 5px;
  }

  .field__header {
    display: flex;
  }

  .field__name {
    font-weight: 700;
    flex: 1;
  }

  .field__options {
    color: $app-color;
    cursor: pointer;
    padding-left: 30px;
    min-height: 40px;

    & > .menu {
      margin-top: -15px;
    }
  }

  .field__text {
    max-height: 150px;
    overflow-y: auto;
    padding: 2px;
  }
}
