@import "../../styles/variables";
@import "../../styles/extensions";

$translateLen: 50px;
$transitionTime: 500ms;

.components-sync {
  @extend %route-main;

  .components-sync-header {
    margin-top: -10px;
    color: $app-color;
    font-weight: bolder;
    position: relative;
    padding-bottom: 5px;
    padding-left: 10px;
  }

  .upload-button {
    padding-right: 10px;
    position: absolute;
    right: 0;
    bottom: -4px;
    color: darken($color: $app-color, $amount: 5%);
    font-weight: bolder;
    font-size: 1.1rem;
    background: none;

    &:active,
    &:hover {
      background: none;
      color: darken($color: $app-color, $amount: 5%);
    }
  }

  .main {
    @extend %app-main;
  }

  .all-unsaveds {
    position: relative;
  }

  .tab-menu {
    background-color: $app-color !important;
    color: #fff !important;
    font-weight: 900 !important;

    &.active {
      background-color: darken($color: $app-color, $amount: 10%) !important;
    }
  }

  .tab {
    padding: 0 10px;
    position: absolute;
    left: 0;
    right: 0;
  }

  .pane-animation-left-enter,
  .pane-animation-right-enter {
    opacity: 0.01;
  }

  .pane-animation-left-enter {
    transform: translate(-$translateLen, 0);
  }

  .pane-animation-right-enter {
    transform: translate($translateLen, 0);
  }

  .pane-animation-left-enter-active,
  .pane-animation-right-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all $transitionTime ease-in;
  }

  .pane-animation-left-exit,
  .pane-animation-right-exit {
    opacity: 1;
    transform: translate(0, 0);
  }

  .pane-animation-left-exit-active,
  .pane-animation-right-exit-active {
    opacity: 0.01;
    transition: all $transitionTime ease-in;
  }

  .pane-animation-left-exit-active {
    transform: translate($translateLen, 0);
  }

  .pane-animation-right-exit-active {
    transform: translate(-$translateLen, 0);
  }

  .upload-result-icon {
    margin-left: 5px !important;
  }

  .upload-error-icon {
    color: red;
  }

  .upload-success-icon {
    color: green;
  }

  .experience + .experience {
    margin-top: 50px;
  }

  .experience-title {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 5px 5px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid $app-color;
    background-color: lighten($color: $app-color, $amount: 5%);
    color: #fff;

    &::after {
      content: " ";
      display: block;
      clear: both;
    }
  }

  .experience-title--error {
    border-color: $error-color;
    background-color: $error-bg-color;
    color: $error-color;
  }

  .experience-title--success {
    border-color: $success-color;
    background-color: $success-bg-color;
    color: $success-color;
    font-size: 1rem;
  }

  .experience-title__remove-btn.button {
    float: left;
    margin-right: 10px;
    color: $success-color !important;
    box-shadow: 0px 0px 0px 2px $success-color inset;

    &.active,
    &:hover,
    &:focus {
      background: $success-color !important;
      box-shadow: 0px 0px 0px 2px $success-color inset,
        0px 1px 4px 0px rgba(34, 36, 38, 0.15) inset;
    }
  }

  .unsaved-entry-first {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }
}
