@import "../../styles/extensions";

.component-new-entry {
  @extend %route-main;

  .main {
    @extend %app-main;
    padding: 15px 25px 0 25px;
    display: flex;
    flex-direction: column;
  }

  .back-to-details {
    @extend %button;
    display: block;
    flex-shrink: 0;
    margin: 10px 5px 25px;
  }

  .form {
    padding-bottom: 30px;
    flex: 1;
  }

  .submit-btn {
    @extend %button;
    margin-top: 40px;
  }

  & .js-scroll-into-view {
    position: absolute;
    top: -35px;
  }
}
