@import "../../styles/variables";
@import "../../styles/extensions";

.component-new-entry {
  @extend %route-main;

  .main {
    @extend %app-main;
    padding: 15px 25px 0 25px;
    display: flex;
    flex-direction: column;

    & > .title {
      display: block;
      flex-shrink: 0;
      margin: 10px 5px 25px;
    }
  }

  .form {
    padding-bottom: 30px;
    flex: 1;
  }

  .submit-btn {
    margin-top: 40px;
  }

  .date-field {
    display: flex;
  }

  .light-border {
    border: 1px solid lighten($color: $app-color, $amount: 30);
    padding: 5px;
  }

  .entry-sub-field_container {
    flex: 1;
  }

  .field_label {
    display: block;
    margin: 0 0 0.28571429rem 0;
    color: #000000de;
    font-size: 0.92857143em;
    font-weight: 700;
    text-transform: none;
    text-align: center;
  }

  .datetime-field-time {
    display: flex;
    width: 50%;
  }

  .form-field {
    position: relative;
  }

  .js-scroll-into-view {
    position: absolute;
    top: -35px;
  }
}
