@import "../../styles/variables";
@import "../../styles/extensions";

.component-new-entry {
  @extend %route-main;

  .main {
    @extend %app-main;
    padding: 15px 25px 0 25px;
    display: flex;
    flex-direction: column;

    & > .title {
      display: block;
      flex-shrink: 0;
      margin: 10px 5px 25px;
    }
  }

  .form {
    padding-bottom: 30px;
    flex: 1;
  }

  .submit-btn {
    margin-top: 40px;
  }

  .form-field {
    position: relative;
  }

  .js-scroll-into-view {
    position: absolute;
    top: -35px;
  }
}
