@import "./styles/variables";

html,
body,
#root {
  /* we don't want any of these to scroll */
  overflow: hidden;
  height: 100%;

  /* others */
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  border: 2px solid $app-color;
}

.ui.modals.dimmer.visible.transition {
  display: flex !important;
  height: 100%;
  overflow: hidden;
}

.ui.inverted.dimmer {
  background-color: $inverted-dimmer-color;
}

.ui.modal.transition.visible.active {
  display: flex !important;
  flex: 1;
  flex-direction: column;
  max-height: 80%;

  &.small {
    padding: 10px;
    border-radius: 5px;
    max-width: 350px;
  }
}

.ui.modal.transition.visible.active > .content {
  display: flex !important;
  flex-direction: column;
  padding: 0 !important;
  flex: 1;
  overflow: hidden;
}

.icon {
  color: $app-color !important;
}

.ui.labeled.icon.menu .item > .icon:not(.dropdown) {
  font-size: 1em;
}

.ui.menu .item {
  padding: 5px;
}

.ui.thin.left.sidebar,
.ui.thin.right.sidebar {
  width: 110px;
}

.ui.card > .extra.content {
  flex-shrink: 0;
}
