@import "../../styles/variables";

.containers-app {
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  .app-main {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .link {
    color: $app-color;
  }
}
