@import "../../styles/variables";

.components-edit-entry {
  .experience-title {
    margin-bottom: -15px;
    font-weight: 100;
    font-size: 1rem;
    margin-top: -5px;
    max-width: 320px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .definition--success,
  .data--success {
    label,
    input,
    .input {
      color: $success-color !important;
      border-color: $success-color !important;
    }
  }

  .definition--success {
    input,
    .input {
      opacity: 0.6 !important;
    }
  }

  .definition-input {
    margin-bottom: 10px;
  }

  .definition-reset {
    margin-right: 3px !important;
  }

  .definition-input-unchanged {
    opacity: 0.6;
  }

  .definition-edit,
  .definition-dismiss {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .definition-edit--success {
    border-color: $success-color !important;
    background-color: $success-color !important;
  }

  @media (max-width: 22rem) {
    .definition-field {
      position: relative;
      margin-top: 0.5rem !important;
    }

    .field + .definition-field {
      margin-top: 2rem !important;
    }

    .definition-input {
      position: static;
    }

    .definition-dismiss,
    .definition-edit {
      position: absolute;
      right: 0;
      top: -0.6rem;
    }
  }
}
