$app-color: #5faac7;
$inverted-dimmer-color: rgba(95, 170, 199, 0.23); //hex #5faac73b
$error-color: #9f3a38;
$error-bg-color: #fff6f6;
$success-color: #2c662d;
$success-bg-color: #f8f8f9;
$app-bg-color: #fff;
