$notification-padding: 1.25rem 2.5rem 0.2rem 1rem;
$modal-background-background-color: rgba(255, 255, 255, 0.8);
$app-color: #5faac7;
$inverted-dimmer-color: rgba(95, 170, 199, 0.23); //hex #5faac73b
$error-color: #9f3a38;
$error-bg-color: #fff6f6;
$success-color: #2c662d;
$success-bg-color: lighten($success-color, 70%);
$app-bg-color: #fff;
