:root {
  --app-color: #5faac7;
  --modal-content-width: 450px;
  --warning-bg-color: #ffdd57;
  --warning-border-color: #eabc0a;
  --warning-close-bg-color: #d6b842;
  --warning-text-color: #3c3939;
  --error-bg-color: #ffdce0;
  --error-border-color: #c5adb0;
  --error-text-color: #9e1010;
  --error-close-bg-color: #e8a0a8;
  --error-close-border-color: #c17b83;
  --minimum-radius: 3px;
  --btn-border-neutral-color: #afafaf;
  --light-blue-border: #d0e6ef;
  --close-width: 50px;
}

html,
body,
#___gatsby,
#___gatsby > div,
#global-router {
  /* we don't want any of these to scroll */
  overflow: hidden !important;
  height: 100% !important;
  width: 100% !important;

  /* others */
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 2px;
  height: 2px;
}

.bulma {
  @import "../../node_modules/bulma/bulma.sass";

  .modal-card,
  .modal-content {
    max-height: initial;
    max-width: var(--modal-content-width);
  }

  .modal-background {
    pointer-events: none;
  }

  .field.error {
    color: var(--error-text-color);

    label {
      color: var(--error-text-color);
    }

    input {
      color: var(--error-text-color);
      border-color: var(--error-text-color);
    }
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

/*! purgecss start ignore */
.ui.label,
.ui.labels .label {
  color: white;
}
/*! purgecss end ignore */

.ui.dropdown .scrolling.menu {
  width: 100% !important;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  visibility: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.notification {
  border: 1px solid;
  border-radius: 4px;
  padding: 10px 10px 10px 20px;
  margin-bottom: 30px;

  &--warning {
    border-color: var(--warning-border-color);
    background-color: var(--warning-bg-color);
  }

  &--error {
    border-color: var(--error-border-color);
    background-color: var(--error-bg-color);
  }

  &__close {
    position: relative;
    top: -15px;
    right: -15px;
    width: var(--close-width);
    height: var(--close-width);
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;

    &-button {
      width: 20px;
      height: 20px;
      border: 1px solid;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:before,
      &:after {
        content: "";
        display: block;
        color: white;
        border: 1px solid white;
        width: 50%;
      }

      &:after {
        transform: translateX(-50%) rotate(-45deg);
      }

      &:before {
        transform: translateX(50%) rotate(45deg);
      }

      &--warning {
        background-color: var(--warning-close-bg-color);
        border-color: var(--warning-close-bg-color);
      }

      &--error {
        background-color: var(--error-close-bg-color);
        border-color: var(--error-close-border-color);
      }
    }
  }

  &__content {
    word-break: break-word;

    &--warning {
      color: var(--warning-text-color);
    }

    &--error {
      color: var(--error-text-color);
    }
  }
}

.chevron-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 10px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.chevron-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.form {
  &__field + &__field {
    margin-top: 30px;
  }

  &__field {
    display: block;

    &--errors {
      color: var(--error-text-color);

      .form__control {
        border-color: var(--error-border-color);
      }
    }
  }

  &__label {
    font-weight: 600;
  }

  &__control {
    border: 1px solid #d1d5da;
    display: block;
    border-radius: 3px;
    outline: none;
    padding: 8px;
    width: 100%;

    &:active,
    &:focus {
      box-shadow: inset -1px -1px 0px 0px #b9b9ef;
      border-color: #b9b9ef;
    }

    &--hidden {
      display: none;
    }

    &--select {
      background-color: white;
    }
  }
}
