:root {
  --modal-content-width: 450px;
  --warning-bg-color: #ffdd57;
  --warning-border-color: #eabc0a;
  --warning-close-bg-color: #d6b842;
  --warning-text-color: #3c3939;
  --error-bg-color: #ffdce0;
  --error-border-color: #c5adb0;
  --error-text-color: #9e1010;
  --error-close-bg-color: #e8a0a8;
  --error-close-border-color: #c17b83;
  --minimum-radius: 3px;
  --btn-border-neutral-color: #afafaf;
}

.bulma {
  & .modal-card,
  & .modal-content {
    max-height: initial;
    max-width: var(--modal-content-width);
  }

  & .modal-card-body {
    /* border: $modal-card-foot-border-top; */
  }

  & .modal-background {
    pointer-events: none;
  }

  & .field.error {
    color: $error-color;

    & label {
      color: $error-color;
    }

    & input {
      color: $error-color;
      border-color: $error-color;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

/*! purgecss start ignore */
.ui.label,
.ui.labels .label {
  color: white;
}
/*! purgecss end ignore */

.ui.dropdown .scrolling.menu {
  width: 100% !important;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  visibility: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.notification {
  --close-width: 50px;
  border: 1px solid;
  border-radius: 4px;
  padding: 10px 10px 10px 20px;
  margin-bottom: 30px;
}

.notification--warning {
  border-color: var(--warning-border-color);
  background-color: var(--warning-bg-color);
}

.notification--error {
  border-color: var(--error-border-color);
  background-color: var(--error-bg-color);
}

.notification__close {
  position: relative;
  top: -15px;
  right: -15px;
  width: var(--close-width);
  height: var(--close-width);
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.notification__close-button {
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before,
  &:after {
    content: "";
    display: block;
    color: white;
    border: 1px solid white;
    width: 50%;
  }

  &:after {
    transform: translateX(-50%) rotate(-45deg);
  }

  &:before {
    transform: translateX(50%) rotate(45deg);
  }
}

.notification__close-button--warning {
  background-color: var(--warning-close-bg-color);
  border-color: var(--warning-close-bg-color);
}

.notification__close-button--error {
  background-color: var(--error-close-bg-color);
  border-color: var(--error-close-border-color);
}

.notification__content {
  word-break: break-word;
}

.notification__content--warning {
  color: var(--warning-text-color);
}

.notification__content--error {
  color: var(--error-text-color);
}

.chevron-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 10px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.chevron-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
