@import "./variables";

.bulma {
  @import "../../node_modules/bulma/bulma.sass";

  .modal-card {
    max-height: initial;
    max-width: $modal-content-width;
  }

  .modal-card-body {
    border: $modal-card-foot-border-top;
  }

  .modal-background {
    pointer-events: none;
  }

  .field.error {
    color: $error-color;

    label {
      color: $error-color;
    }

    input {
      color: $error-color;
      border-color: $error-color;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

/*! purgecss start ignore */
.ui.label,
.ui.labels .label {
  color: white;
}
/*! purgecss end ignore */

.ui.dropdown .scrolling.menu {
  width: 100% !important;
}

.visually-hidden {
  width: 1;
  height: 1;
  visibility: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
