@import "./variables";

html,
body,
#___gatsby,
#___gatsby > div {
  /* we don't want any of these to scroll */
  overflow: hidden !important;
  height: 100% !important;
  width: 100% !important;

  /* others */
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: $app-bg-color;
}

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 2px;
  height: 2px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.ui.label,
.ui.labels .label {
  color: white;
}

.ui.dropdown .scrolling.menu {
  width: 100% !important;
}
