@import "../../styles/extensions";

%auth-root-styles {
  display: block !important;
  overflow-y: auto;

  .card {
    min-width: 318px;
    margin: 10px auto 35px !important;
  }

  .form-title {
    @extend %form-title;
  }

  @extend %msg-error-close;

  .to-login-button {
    @extend %auth-redirect-btn;
  }

  @extend %form;
}

.routes-sign-up-route {
  @extend %auth-root-styles;
}
