@import "../../styles/variables";
@import "../../styles/extensions";

.routes-exp {
  padding: 0 5px 50px 5px;
  margin-top: -10px;
  overflow-x: hidden;
  overflow-y: auto;
  // so the vertical scroll-bar (in case of y-overflow) abuts the main menu
  top: -10px;

  & > .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // compensate for top: -10px; on the parent
    padding-top: 10px;

    .title {
      text-align: center;
      flex: 1;
      font-weight: 900;
      font-size: 1.12em;
    }
  }

  & > .main {
    flex: 1;
  }

  .no-entries {
    cursor: pointer;
  }
}
