.ebnis-modal {
  background: rgba(255, 255, 255, 0.90);

  .modal {
    &__inner {
      background: white;
      border-radius: 3px;
      box-shadow: 1px 3px 10px 2px #ccc8c8;
      z-index: 1001;
      width: 95%;
      max-width: var(--modal-content-width);
    }
  }

  & .close {
    width: 56px;
    height: 56px;
  }

  & .close__button {
    height: 20px;
    width: 20px;
    top: calc(50% - 10px);
    right: calc(50% - 10px);
    background: black;

    &::before,
    &::after {
      content: "";
      background: white;
      position: absolute;
      left: 50%;
      top: 50%;
    }

    &::before {
      height: 2px;
      width: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }

    &::after {
      height: 50%;
      width: 2px;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
  }
}

