@import "../../styles/variables";
@import "../../styles/extensions";

.routes-exp-def {
  padding: 10px 5px 20px 5px;
  overflow-x: hidden;
  overflow-y: auto;

  .field {
    @extend %field-margin-bottom;
  }

  .new-exp-submit {
    margin-top: 20px;
  }

  .field-defs-container {
    border: 1px solid $app-color;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 4px;

    &.errors {
      border-color: $error-color;
    }
  }

  .field-controls {
    display: flex;
    justify-content: flex-end;
  }

  .form-control-error {
    background: $error-bg-color;
    color: $error-color;
    padding: 5px 2px 0 2px;
  }

  .graphql-errors-header.header {
    margin-bottom: 1em;
    position: relative;
    left: -15px;
  }

  .graphql-field-defs-error-container {
    font-weight: 900;
    font-size: 1.1em;
  }

  .graphql-field-defs-error-inner {
    padding-left: 5px;
    & > span {
      display: inline-block;

      &:first-child {
        width: 2em;
        text-align: right;
      }

      &:last-child {
        padding-left: 0.5em;
      }
    }
  }

  .description-field-label {
    opacity: 0.6;
    cursor: pointer;
  }

  .submit-btn-hr {
    @extend %submit-btn-hr;
  }
}
