@import "../../styles/variables";
@import "../../styles/extensions";

.components-header {
  @extend %header-box-shadow;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 0 0 15px;
  flex-direction: row;

  &.wide {
    min-height: 20%;
    flex-direction: column;

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .logo-container {
    flex: 1;
    min-width: 50px;
  }

  .title {
    font-weight: 900;
    color: $app-color;
    font-size: 1.3em;
    letter-spacing: 1.2px;

    &:not(.no-sidebar) {
      display: flex;
      justify-content: space-between;
      width: 250px;
      align-items: center;
      padding-left: 20px;
      text-align: right;
      z-index: 2;
    }

    &.no-sidebar {
      text-align: center;
    }
  }

  .title_text {
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @media (min-width: 600px) {
    flex-direction: row !important;
    min-height: 60px !important;

    .logo-container {
      display: block !important;
    }

    .title {
      font-size: 1.2em;

      &.no-sidebar {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .sidebar-trigger {
    min-width: 40px;
    cursor: pointer;
    padding: 10px 5px 10px 20px;
  }

  .close-sidebar-icon {
    color: #cc6363 !important;
  }
}
