@import "../../styles/variables";
@import "../../styles/extensions";

.components-header {
  @extend %header-box-shadow;
  flex-shrink: 0;
  min-height: 80px;
  z-index: 2; // otherwise app-main will cover it and the close button will be
  // covered by sidebar

  .logo-container {
    padding: 5px !important;

    &.with-pointer {
      cursor: pointer;
    }

    &.center-children {
      justify-content: center;
      width: 100%;
    }
  }

  .app-header-title {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
    font-weight: bolder;
    color: $app-color;
    padding: 0 0 1px 10px;
    font-size: 1.2em;
    margin-top: -10px;
    white-space: nowrap;

    &.no-sidebar {
      text-align: center;
    }
  }

  @media (min-width: 600px) {
    flex-direction: row !important;
    min-height: 60px !important;

    .title {
      font-size: 1.2em;

      &.no-sidebar {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .sidebar-trigger {
    cursor: pointer;
    padding: 12px 6px !important;
    font-weight: 900 !important;
    color: $app-color !important;
    font-size: 1.5em;
    margin: 0 !important;
  }

  .close-sidebar-icon {
    color: #cc6363 !important;
  }
}
