@import "../../styles/variables";

.components-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .components-loading__spinner {
    width: 40px;
    height: 40px;
    position: relative;

    .double-bounce1,
    .double-bounce2 {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $app-color;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;

      animation: components-loading-bounce 2s infinite ease-in-out;
    }

    .double-bounce2 {
      animation-delay: -1s;
    }
  }
}

@keyframes components-loading-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
