@import "../../styles/variables";
@import "../../styles/extensions";

.routes-new-exp {
  padding: 0 5px 20px 5px;
  margin-top: -10px;
  overflow-x: hidden;
  overflow-y: auto;

  .new-exp-submit {
    margin-top: 20px;
  }

  .fields-container {
    border: 1px solid $app-color;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 4px;

    &.errors {
      border-color: $error-color;
    }
  }

  .field-controls {
    display: flex;
    justify-content: flex-end;
  }

  .form-control-error {
    background: $error-bg-color;
    color: $error-color;
    padding: 5px 2px 0 2px;
  }
}
