@import "../../styles/variables";

.component-experience-entry + .component-experience-entry {
  margin-bottom: 20px;
}

.component-experience-entry {
  border: 2px solid $app-color;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;

  .meta {
    position: relative;
    margin-bottom: -5px;

    &::before {
      content: "";
      display: block;
      width: calc(100% + 10px);
      border: 1px solid $app-color;
      position: absolute;
      left: -5px;
    }
  }

  .inserted-at,
  .updated-at {
    font-size: 0.8rem;
    opacity: 0.6;
  }

  .field {
    padding-top: 15px;
    position: relative;
    word-break: break-all;

    &::after {
      content: "";
      display: block;
      width: calc(100% + 10px);
      border: 0.5px solid $app-color;
      position: absolute;
      left: -5px;
    }
  }

  .field--last {
    // margin-bottom: -5px;

    &::after {
      display: none;
    }
  }

  .field-name {
    font-weight: 600;
    margin-right: 5px;
  }
}
