@import "../../styles/variables";
@import "../../styles/extensions";

.components-experience + .components-experience {
  margin-top: 40px !important;
}

.components-experience {
  margin: 10px !important;
  width: initial !important;

  &.ui.card:last-child {
    margin-bottom: 10px;
  }

  .experience__header {
    flex-grow: 0 !important;
  }

  .experience__header,
  .experience__main {
    padding: 5px !important;
  }

  .no-entries {
    cursor: pointer;
  }

  .options-menu-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .options-menu__trigger {
    &.ui.icon {
      padding-right: 5px !important;
    }

    .text {
      position: relative;
      left: -10px;
    }
  }

  .options-menu__trigger .text {
    left: -1px;
  }
}
