@import "../../styles/variables";
@import "../../styles/extensions";

.components-experience {
  @extend %route-main;

  .main {
    @extend %app-main;
    margin: 10px;
    width: initial;
    flex: initial;

    &.ui.card:last-child {
      margin-bottom: 10px;
    }
  }

  .experience__header {
    flex-grow: 0 !important;
  }

  .experience__header,
  .experience__main {
    padding: 5px !important;
  }

  .title {
    font-weight: 900;
  }

  .no-entries {
    cursor: pointer;
  }

  .options-menu-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .options-menu__trigger {
    &.ui.icon {
      padding-right: 5px !important;
    }

    .text {
      position: relative;
      left: -10px;
    }
  }
}
