@import "../../styles/variables";
@import "../../styles/extensions";

.routes-home {
  & > .route-main {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .exps-container {
    padding: 10px 5px 0 5px;
  }

  .no-exp-info {
    cursor: pointer;

    &:hover {
      color: $app-color;
    }
  }

  .exp-container {
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    border-bottom: 1px solid lighten($color: $app-color, $amount: 35);
    padding-bottom: 2px;

    & > .main {
      flex: 1;
    }
  }

  .exp_title {
    display: block;
    font-weight: bolder;
    font-size: 1.1em;
  }

  .reveal-hide-description {
    padding: 0 30px 25px 10px;
  }

  .exp_description {
    position: relative;
    left: -20px;
    margin-top: 10px;
  }

  .new-exp-btn {
    position: absolute;
    border: 1px solid darken($color: $app-color, $amount: 10);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: $app-color;
    font-weight: bolder;
    font-size: 2em;
    bottom: 40px;
    right: 15px;
    cursor: pointer;
    z-index: 1;
  }
}
