@import "../../styles/variables";
@import "../../styles/extensions";

.components-experiences {
  @extend %route-main;

  .main {
    @extend %app-main;
  }

  .experiences-container {
    padding: 5px 5px 60px 5px;
    position: relative;
    background: rgba(10, 10, 10, 0.02);
  }

  .no-experiences-info {
    cursor: pointer;
    color: initial;
    padding: 15px 5px 10px 10px;
    display: block;

    &:hover {
      color: $app-color;
    }
  }

  .experience-container + .experience-container {
    margin-top: 30px;
  }

  .experience-description {
    overflow-wrap: break-word;
    padding: 10px 0 0 1rem;
  }

  .new-experience-button {
    position: fixed;
    border: 1px solid darken($color: $app-color, $amount: 10);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: $app-color;
    font-weight: bolder;
    font-size: 2em;
    bottom: 10px;
    right: 15px;
    cursor: pointer;
  }

  .my-search {
    position: sticky !important;
    width: 300px;
  }

  .search-experience-link {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .no-search-match {
    padding: 1rem;
    font-weight: bold;
  }
}
