@import "../../styles/variables";
@import "../../styles/extensions";

.components-experiences {
  @extend %route-main;

  .main {
    @extend %app-main;
  }

  .exps-container {
    padding: 10px 5px 60px 5px;
  }

  .exp-container-main {
    color: initial;
    display: block;
  }

  .no-exp-info {
    cursor: pointer;
    color: initial;
    padding: 15px 5px 10px 10px;
    display: block;

    &:hover {
      color: $app-color;
    }
  }

  .exp-container {
    margin-bottom: 15px;
    cursor: pointer;
    border-bottom: 1px solid lighten($color: $app-color, $amount: 35);
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;

    &::after {
      content: "";
      clear: both;
      height: 0;
      width: 0;
    }
  }

  .exp_title {
    display: block;
    padding-left: 10px;
  }

  .reveal-hide-description {
    padding: 0 35px 35px 10px;
    float: left;
  }

  .exp_description {
    position: relative;
    left: 20px;
    margin-right: 15px;
    margin-top: 10px;
    font-style: italic;
    font-size: 0.92em;
    word-break: break-all;
  }

  .new-exp-btn {
    position: absolute;
    border: 1px solid darken($color: $app-color, $amount: 10);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: $app-color;
    font-weight: bolder;
    font-size: 2em;
    bottom: 10px;
    right: 15px;
    cursor: pointer;
  }
}
